@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Telegraf";
  src: url("/fonts/PPTelegraf.otf"), url("/fonts/PPTelegraf-Bold.otf");
  font-display: swap;
}

body {
  background: linear-gradient(0deg, rgba(0,0,0,.86), rgba(0,0,0,.64)), url('https://grainy-gradients.vercel.app/noise.svg') repeat;
}

@layer base {

  body {
    @apply selection:bg-dark selection:text-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  a,
  li,
  label {
    @apply uppercase;
  }

  a,
  button, 
  input,
  textarea {
      @apply outline-none focus:ring focus:ring-light-blue;
  }
}

@layer components {
  .headingOne {
    @apply text-4xl-mb md:text-4xl font-extrabold leading-tight;
  }

  .headingTwo {
    @apply text-3xl-mb md:text-3xl font-extrabold;
  }

  .headingThree {
    @apply text-2xl-mb md:text-2xl font-extrabold;
  }
}
