@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Telegraf";
  src: url("/fonts/PPTelegraf.otf"), url("/fonts/PPTelegraf-Bold.otf");
}

body {
  background: linear-gradient(0deg, rgba(0,0,0,.86), rgba(0,0,0,.64)), url('https://grainy-gradients.vercel.app/noise.svg') repeat;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
li,
label {
  @apply uppercase;
}
